name: DirectionalSequencer Build

on:
  push:
    tags:
      - 'directional-sequencer/v*'
  workflow_dispatch:

jobs:
  call_build_workflow:
    name: Call Base Plugin Build Workflow

    # Set permissions needed by the called workflow
    permissions:
      contents: write
      packages: write
      id-token: write
      
    uses: ./.github/workflows/BasePluginBuild.yaml

    with:
      plugin_name: DirectionalSequencer
      artifact_file: directionalSequencer.o
      artifact_base_name: directionalSequencer
      source_path: /src/DirectionalSequencer
      tag_ref: ${{ github.ref }}
